body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #625f83;
}

.intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.description {
    flex: 1;
}

.profile-picture {
    width: 50px; /* Set the width of the photo */
    height:  100px;
    padding: 30px;
}

.aboutme{
    background-color: #d31919;
    display: flex;
    justify-content: flex-end; /* Aligns content to the right */
}

.profile-picture img {
    max-width: 1x;
    height: auto;
}

.projects {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    position: relative;
}

.project-carousel {
    display: flex;
    overflow: hidden;
    width: 100%;
    margin: 20px 0;
    position: relative;
}

.project-card {
    flex: 1 0 100%;
    max-width: 33.33%;
    box-sizing: border-box;
    padding: 20px;
    background-color: #e0f7fa;
    border-radius: 10px;
    margin: 0 10px;
    transition: transform 0.5s ease-in-out;
}

.carousel-button {
    background-color: rgba(128, 128, 128, 0.5);
    border: none;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.prev {
    left: 20px;
}

.next {
    right: 20px;
}

.arrow {
    color: white;
    font-size: 1.5em;
    pointer-events: none;
}
